body {
    background-color: rgb(240, 132, 168);
    margin-top: 0px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 25px;
}

#banner {
    background-image: url(file:///Users/catwu/Desktop/catwuwebprogram/assignment02/color-blocks-1095089_1280.png);
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 100%;
}

.container {
    margin-left: 230px;
    margin-right: 230px;
}

.mono {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.italic {
    font-style: italic;
}

h1 {
    text-align: center;
    line-height: 70px;
    color: rgb(0, 0, 0);
    font-size: 150px;
    letter-spacing: 1px;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    color: cornsilk;
    text-align: center;
    text-transform: uppercase;
    font-size: x-large;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
}

b3 {
    text-align: center;
    color: cornsilk;
}

b2 {
    text-align: center;
}

p {
    font-size: medium;
}

em {
    font-style: italic;
}